@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

:root {
  --header-height: 150px;
}

/* NAVBAR */
.App {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background-color: white;
  height: 95px;
  /* padding-bottom: 2em; */
  width: 98%;
}

.header #logo {
  width: 250px;
  float: left;
  padding-left: 30px;
}

.header #links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header #links li {
  float: right;
  display: block;
  text-align: center;
  font-size: 1em;
  padding: 14px 16px;
  text-decoration: none;
}


/* MAIN PAGE LAYOUT */

.main {
  background-image: url("../Images/banner.png");
  background-repeat: repeat-x; 
  /* background-size: 30em; */
  background-size: auto 300px;
  /* background-size: auto var(--header-height); */
  border-radius: 15px;
  padding: 0 20px 20px;
  width: 95%;
  min-height: var(--header-height);
}

.main p {
  margin: 0;
  padding: 0;
}

.main .page-header {
  height: var(--header-height);
  margin-bottom: 16px
}

.page-header h2 {
  margin: 0;
  padding: 0;
  position: relative;
  top:75px;
}

h2 {
  color: white;
}

button {
  width: 225px;
  height: 50px;
  font-size: 25px;
  border-radius: 25px;
}

li {
  list-style: none;
}

body {
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
}

#search {
  width: 200px;
  height: 20px;
  margin: 5px;

}

#submit {
  width: 100px;
  height: 100px;
  display: run-in;
}

.row {
  font-family: source sans pro;
  font-size: 50px;
  margin: 100;
  display: flex;
  justify-content: space-around;

}


/* INDEX */

.interview-list li {
  text-align: center;
}

#filters {
  text-align: center;
}

#filters button {
  color: #85D0D0;
}


/* USER PROFILE */

.user-profile #photo {
  padding-top: 20px;
  background-image: url("../Images/defaultProfile.png");
  width: 400px;
  text-align: center;
  background-size: cover;
}

.user-profile #photo img {
  margin: 0 auto;
  width: 200px;
  height: auto;
}

.user-profile #logo {
  margin-top: none;
  width: 50px;
}

.user-profile #add-button {
  width: 225px;
  height: 50px;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #9E9D9E;
}

#add-button a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#add-button a img {
  height: 30px;
  width: 30px;
}

#add-button img {
  size: 2px;
}


/* FOOTER */

.footer {
  text-align: center;
}

.footer #github-repo {
  margin-top: 25px;
  margin-bottom: 0;
  width: 50px;
}

ul {
  list-style-type: none;
}

.footer #logo {
  margin-top: none;
  width: 150px;
}

.link-button {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  background-color: green;
}

.company-location {
  font-size: .75em;
}

a {
  text-decoration: none;
}

a:hover {
  color: purple;
}

